# Dependencies
node_modules/
client/node_modules/

# Database and Backups
integrador.db
integrador.db-shm
integrador.db-wal
backend/logs/backups/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Excel temp files
~$*

# Build output
client/dist/

# Env
.env
.env.*
!.env.example
LISTAS_TOT.csv
planoind.csv
planoind (1).csv

backend/data/*.csv
backend/data/*.txt
backend/data/*.xlsb
backend/data/*.db
backend/data/*.db-shm
backend/data/*.db-wal
